<div class="about-info__area pt-100 pb-100">
<div class="wrapper">
<div class="about-info__container">
    <div class="about-info__logo">
      <img src="https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/home%2Flogo.svg?alt=media&token=1b3994ca-ae70-4b80-a2fa-1b540c768ae0" alt="logo_nw">
    </div>
    <div class="about-info__who-are-we">
      <p>
        Neue Welt (New World) provides a dynamic platform that declares all new fresh companies in Jordan in various industrial sectors. Neue Welt enhance the user expierence
        to explore new startups newly added, here you can view , request a new startups to that the world can see your company.
      </p>
    </div>
</div>
</div>
</div>
