<section class="pb-20 bg-blueGray-200 -mt-24 relative z-10">
  <div class="container mx-auto px-4">

    <div class="flex flex-wrap items-center mt-32 pt-100">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
        <i class="fa-solid fa-people-group"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal">
          Welcome to Neue Welt
        </h3>
        <p
          class="text-md font-light leading-relaxed mt-4 mb-4 text-gray-500"
        >
        In Neue Welt you can explore different industrial sectors in Jordan. Each sector consists of several startups. We aim to bring fresh companies to the public. Neue Welt successfully launches the careers of numerous significant contemporary businessmen and promotes and remains committed to the principles of innovation and accessibility.
        </p>
        <p
          class="text-md font-light leading-relaxed mt-0 mb-4 text-gray-500"
        >
        Neue Welt is an open and transparent institution at the forefront of an expanding and diversifying business field.
        </p>

      </div>

      <div class="w-full md:w-1/2 px-4 mr-auto ml-auto">
        <div
          class="relative flex flex-col min-w-0 b bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
        >
          <img
            alt="welcome_img"
            src="https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/website%2Fwelcome_1.webp?alt=media&token=8874123b-9556-425a-abe0-fde3a5b7ee54"
            class="w-full align-middle rounded"
          />

        </div>
      </div>
    </div>
  </div>
</section>
