<section class="page__title-area page__title-height page__title-overlay " [ngStyle]="{background:'url(https://i.pinimg.com/originals/28/00/71/28007141fb21d9a96a7247e75df156cc.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
  <div class="container">
           <div class="page__title-wrapper  pt-100">
              <h3 class="page__title">{{title}}</h3>
              <nav aria-label="banner">
                 <ol class="banner">
                    <li class="banner-item"><a [routerLink]="['/']">Home</a></li>
                    <li class="banner-item active" aria-current="page">{{subtitle}}</li>
                 </ol>
              </nav>
           </div>
        </div>

</section>
