
  <footer>
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__col">
                <div class="right-text-content">
                  <p class="mb-10">Share with us:</p>
                        <ul class="social-icons">
                            <li>
                              <button type="button" data-href="websiteUrl"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{websiteUrl}}&amp;src=sdkpreparse"><i class="fa fa-facebook"></i></a></button>
                            </li>
                            <li>
                              <button><a href="https://twitter.com/intent/tweet?text=Neue Welt {{websiteUrl}}&hashtags=Startups,Sectors" target="_blank"><i class="fa fa-twitter"></i></a>
                              </button>
                             </li>
                            <li>
                              <button><a href="https://www.linkedin.com/sharing/share-offsite/?url={{websiteUrl}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                              </button>
                              </li>
                            <li>
                              <button><a href="http://pinterest.com/pin/create/button/?url='+ {{websiteUrl}}" target="_blank"><i class="fa fa-linkedin"></i></a>
                              </button>
                              </li>
                        </ul>
                </div>
            </div>
            <div class="footer__col">
                <div class="logo">
                 <img src="https://firebasestorage.googleapis.com/v0/b/neue-welt-d499e.appspot.com/o/home%2Flogo-white.svg?alt=media&token=0fde6051-3325-4750-ba1c-6f763eaf4f6a" alt="">
                </div>
            </div>
            <div class="footer__col">
                <div class="left-text-content">
                    <p>© Copyright Ezra Ashour.
                    <br>HTU Project</p>
                </div>
            </div>
        </div>
    </div>
</footer>
