@use '../global' as *;





::ng-deep .mat-ink-bar {
  background-color: $main_gold !important}

.startup_row{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
@media screen and (max-width:1040px){

}
}


.startup_col{
  flex: 1;
  margin: 10px 20px;
  min-width: 400px;
  width: 400px;
  max-width: 50%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 4px 10px $gray;
  background-color: $white;
  overflow: hidden;
  @media screen and (max-width:434px){
    min-width: 250px;
  }
}

.startups-list{
  background-color: rgb(245, 245, 245);
 cursor: pointer;
  &__thumb{
    position: relative;
    overflow: hidden;
    a{
      .cover_img{
        width: 100%;
        height: 300px;
        border-radius: 10px;
        transform: scale(1);
        transition: all .3s ease-out;
      }
    }
  }
  &__tag{
    position: absolute;
    top: 0;
    left: 40px;
    a{
      background-color: $white;
      width: fit-content;
      border-radius: 0 0 8px 8px;
      display: inline-block;
      height: fit-content;



    }
  }
  &__content{
    display: flex;
    flex-direction: column;

  }
  &__meta{
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__founder{
    padding: 20px 0;

    & span{
      font-size: 14px;
      color: $gray_dark;
      & i{
        color: $gray_dark;
          padding-right: 7px;
      }
  }
  }
  &__noe{
    padding: 20px 0;
    & span{
      font-size: 14px;
      color: $gray_dark;
      & i{
          padding-right: 5px;
          color: $gray_dark;
      }
  }
  }
  &__title{
    display: flex;
    flex-direction: row;

    align-items: center;
    font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        @media #{$lg}{
          font-size: 18px;
      }
      & a{
        transition: all .3s ease-in-out;
        &:hover{

          color: $main_gold;
      }
      }
  }
  &__description{
    color: $gray_dark;
  }

  &__more{
    display: flex;
    justify-content: flex-end;
    .link-btn{
      transition: all .3s ease-in-out;
      &:hover{

        color: $main_gold;
    }
  }
}


}

.grade_overlay{
  background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,1) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.startups-list__wrapper{
  margin: auto;
  width: 90%;
}

.startups-list__thumb:hover .cover_img{
transform: scale(1.1);
border-radius: 10px !important;
}


.startup_home_title{
  color: $white;
  font-size: 2rem;
  font-weight: 600;
  padding: 30px 40px;
  vertical-align: bottom;
  display: flex;
  flex-direction: column;
  span{
    font-size: .7rem;
    color: $main_bright;
  }

}

.startup_city{
  color: $white;
}
